body {
  background-color: #1e213f;
  color: #d7e0ff;
}
.container {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.timer {
  display: inline-block;
  padding: 10px;
  width: 98%;
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
  width: 8ch;
  margin: 20px auto;
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button {
  background-color: #2e325a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #f87070;
}
.hidden {
  display: block;
}
.timer-display {
  font-size: 5em;
  margin-top: 20px;
  font-weight: bold;
}
#buttons {
  margin-top: 20px;
}
#start,
#stop {
  background-color: #2e325a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#stop:hover {
  background-color: tomato;
}
#start:hover {
  background-color: #219a52;
}
 #timer-message {
   color: white;
   background-color: tomato;
   display: none;
   padding: .5em;
   font-size: 1em;
   text-align: center;
   border-radius: 1em;
      }
      